.Services{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
}
.headingItem{
    width: 50%;
    height: 100%;
}
.headingItem h1{
    font-size: 3rem;
    color: black;
    padding-top: 0.5em;
    margin-left: 0.5em;
    text-align: center;
}
.headingItem p{
    padding-top: 1em;
    text-align: center;
    font-size: 1rem;

}
.service-btn {
    background-color: #5757c5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3em;
    margin-top: 4em;
  }
  .headingItem h2{
    font-size: 3rem;
    color: black;
    padding-top: 0.5em;
    margin-left: 0.5em;
    text-align: center;

  }
  .headingItem p1{
    font-size: 1rem;
    text-align: center;
    margin-left: 16em;

  }
