.Career{
    background-color: wheat;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
}
.Career .review{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
}
.Career .review .reviewBox h1{
    font-size: 2rem;
    color: black;
    padding-top: 3em;
}
.Career .review .reviewBox p{
    font-size: 1rem;
      padding: 1rem;
      line-height: 1em;
      padding-top: 1em;
      text-align: center;
      padding-right: 1em;
}
