.Work{
    Width: 100%;
    height: 100%;
    background-color: white;
    display: center;

}
.Work .center1 h2{
    font-size: 1.5rem;
     padding-top: 1em;
     padding-left: 26em;
     color: blueviolet;
}
.Work .center1 h1{
    font-size: 25px;
    padding-left: 25em
}
.Work .left1{
         float: left;
}
.Work .left1 h1{
    font-size: 1.5em;
    padding-left: 1em;

}
.Work .left1  p{
    font-size: 1em;
    float: left;
    padding-left: 1em;

}
.Work .left1  .p2{
    padding-left: 1em;
    padding-top: 2em;

}
  span{
    color: violet;
  }
.Work .left1  p3{
    padding-left: 1em;
    padding-top: 1em;
    color: blueviolet;
}
.Work .right1{
    float: right;

}
.Work .right1 img{
    width: 50%; 
      height: 20%; 
      display: block; 
      margin: 0 auto;
      padding-top: 3em;
}